.wrapper{
    width: 420px;
    background: #110e43;
    color: black;
    border-radius: 15px;
    height: 700px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position:relative ;
    width: 100%;
    height: 80px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    
}

.wrapper button:hover{
    background-color: rgb(63, 61, 61);
    cursor: pointer;
    
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonreg{
    background-color: black;
    width: 100%;
    font-size: 26px;
  }